USE [master]
GO
/****** Object:  Database [ExtendedSearch]    Script Date: 3/29/2017 1:38:28 PM ******/
CREATE DATABASE [ExtendedSearch]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExtendedSearch', FILENAME = N'C:\ExtendedSearch.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ExtendedSearch_log', FILENAME = N'C:\ExtendedSearch_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExtendedSearch].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExtendedSearch]
GO
/****** Object:  Table [dbo].[Engines]    Script Date: 3/29/2017 1:38:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Engines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EngineName] [nvarchar](250) NULL,
	[Url] [nvarchar](250) NULL,
 CONSTRAINT [PK_Engines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Searches]    Script Date: 3/29/2017 1:38:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Searches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Engine] [int] NULL,
	[SearchFor] [nvarchar](256) NULL,
	[SearchResult] [nvarchar](max) NULL,
 CONSTRAINT [PK_Searches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Engines] ON 

INSERT [dbo].[Engines] ([Id], [EngineName], [Url]) VALUES (1, N'GoogleSe', N'http://google.com/search?q={0}&num=10')
INSERT [dbo].[Engines] ([Id], [EngineName], [Url]) VALUES (2, N'BingSe', N'http://www.bing.com/search?q={0}&count=10')
INSERT [dbo].[Engines] ([Id], [EngineName], [Url]) VALUES (3, N'YandexSe', N'https://yandex.ru/search/?text={0}&numdoc=10')
SET IDENTITY_INSERT [dbo].[Engines] OFF
USE [master]
GO
